/*

COLOUR PALETTE

orange accent       ff8e2d
teal                20abad
darker teal         007c84
off-white           eeeaeb

GOOGLE FONTS 

font-family: 'Poppins', sans-serif;
font-family: 'Pacifico', cursive;

*/

/* UNIVERSAL STYLES */
.hidden {
  display: none;
}

.body {
  font-family: "Poppins", sans-serif;
}

header {
  background-color: #20abad;
  font-size: 2rem;
}

h1,
h2 {
  font-family: "Pacifico", cursive;
  text-align: center;
  text-transform: capitalize;
  color: #eeeaeb;
}

h2 {
  font-size: 5rem;
}

a {
  text-transform: uppercase;
  color: #eeeaeb;
}

p {
  color: #eeeaeb;
}

.menu li {
  padding-left: 10rem;
  padding-top: 4rem;
  padding-bottom: 3rem;
}

.svg-link {
  display: flex;
}

.copy-with-button {
  text-align: center;
}

.copy-with-button a {
  background-color: #20abad;
  color: #eeeaeb;
  /* border-radius: 5%; */
}

.copy-with-button a {
  padding: 1rem;
  border-radius: 1rem;
}

.copy-with-button p {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

/* MOBILE VIEW */

/* DESKTOP VIEW */
@media screen and (min-width: 720px) {
  svg {
    visibility: hidden;
    display: none;
  }
  .submenu {
    visibility: visible;
  }
  .submenu li a {
    text-decoration: none;
  }

  .hero-banner {
    justify-content: center;
    align-items: center;
    background-image: url("../img/grapefruit-bg.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    height: 50vh;
  }
  .copy-with-button {
    position: relative;
    top: 10rem;
    max-width: 60%;
    margin-left: auto;
    margin-right: auto;
  }

}

/* LARGEST VIEW */
@media screen and (min-width: 1024px) {
  svg {
    visibility: visible;
    display: block;
    width: 2.5rem;
    margin-left: 1rem;
  }
  .svg-link img {
    margin-left: 1rem;
  }
  .menu {
    display: flex;
    justify-content: space-evenly;
  }
  .hero-banner {
    justify-content: center;
    align-items: center;
    background-image: url("../img/grapefruit-bg.jpg");
    background-repeat: no-repeat;
    background-size: 110%;
    background-position: center;
    height: 100vh;
  }

  .copy-with-button {
    position: relative;
    top: 30rem;
    left: 30rem;
  }

  .submenu {
    visibility: hidden;
    position: absolute;
  }

  .menu li:hover > .submenu li {
    visibility: visible;
    display: block;
    background-color: #20abad;
    padding: 1rem;
  }

  .submenu a:hover {
    background: #0a3c3d;
  }
}
